@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");


.left {
	display: flex;
}

.admit-one {
	position: absolute;
	color: darkgray;
	height: 250px;
	padding: 0 10px;
	letter-spacing: 0.15em;
	font-size: 12px;
	display: flex;
	text-align: center;
	justify-content: space-around;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
	color: white;
	font-weight: 700;
}

.left .ticket-number {
	height: 250px;
	width: 310px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 10px;
	color: white;
}

.ticket-info {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.date {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.date span:first-child {
	text-align: left;
	width: 100px;
}

.date span:last-child {
	text-align: right;
	width: 100px;
}

.date .nov-10 {
	color: #d62839;
	font-size: 18px;
	width: 150px;
}

.show-name {
	font-size: 18px;
	color: #d62839;
	font-weight: 700;
}

.show-name h1 {
	font-size: 30px;
	letter-spacing: 0.05em;
	margin-bottom: 6px;
	color: #93229f;
	font-family: "Saira Stencil One", sans-serif;
}

.show-name h2 {
	margin-bottom: 2px;
}

.time {
	color: #505050;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 300;
}

.time span {
	font-weight: 400;
	color: darkgray;
}

.left .time {
	font-size: 13px;
	margin-bottom: 5px;
}

.tagline {
	font-style: italic;
	font-weight: 700;
	font-size: 14px;
}

.location {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 8px;
	border-top: 1px solid gray;
	font-weight: 700;
}

.location span:first-child {
	text-align: left;
}

.location span:last-child {
	text-align: right;
}

.location .separator {
	font-size: 20px;
}

.right {
	width: 290px;
	border-left: 1px dashed #404040;
}

.right .admit-one {
	color: darkgray;
}

.right .admit-one span:nth-child(2) {
	color: #505050;
}

.right .right-info-container {
	height: 250px;
	padding: 10px 10px 10px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.right .show-name h1 {
	font-size: 13px;
	font-family: "Barlow", sans-serif;
}

.right .time {
	margin-top: 10px;
}

.barcode {
	height: 100px;
}

.barcode img {
	height: 100%;
}

.right .ticket-number {
	color: #505050;
	font-weight: 700;
}
