.image-preview {
  width: 240px;
  height: 240px;
  border-radius: 50%; /* Làm cho hình tròn */
  overflow: hidden; /* Ẩn phần ngoài hình tròn */
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  text-align: center; /* Căn giữa the hình ảnh */
  position: relative;
  display: none; /* Ẩn thẻ div ban đầu */

}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo hình ảnh vừa với khu vực hình tròn */
  border-radius: 50%;
}
